<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ContextLongMethod"
            id="br.ufs.smelldetector">
      </category>
      <view
            name="Code smells"
            icon="icons/find.png"
            category="br.ufs.smelldetector"
            class="br.ufs.smelldetector.views.MetodoLongoView"
            id="br.ufs.smelldetector.views.MetodoLongoView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="br.ufs.smelldetector.views.MetodoLongoView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="br.ufs.smelldetector.preferences.ValorMetodoLongoPreferencePage"
            id="br.ufs.smelldetector.preferences.ValorMetodoLongoPreferencePage"
            name="ContextLongMethod">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="br.ufs.smelldetector.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <!-- Popup menu to add a menu to right click of a java file in the package explorer--> 	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="Clarity.objectContribution2"
	 		objectClass="org.eclipse.jdt.core.IOpenable">
         	<action
               label="Enable ContextLongMethod Analysis"
               class="br.ufs.smelldetector.popup.AdicionarAnaliseProjeto"
               menubarPath="additions"
               id="br.ufs.smelldetector.popupMenu.adicionarProjeto">
         	</action>
		</objectContribution>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="Clarity.objectContribution2"
	 		objectClass="org.eclipse.jdt.core.IOpenable">
         	<action
               label="Disable ContextLongMethod Analysis"
               class="br.ufs.smelldetector.popup.RemoverAnaliseProjeto"
               menubarPath="additions"
               id="br.ufs.smelldetector.popupMenu.removerProjeto">
         	</action>
		</objectContribution>
	</extension>
	<!-- MARCADOR PERSONALIZADO -->
	<!-- Marcador -->
	<extension id="br.ufs.smelldetector.mymarker"
    	point="org.eclipse.core.resources.markers">
    	<super type="org.eclipse.core.resources.textmarker"/>
    	<super type="org.eclipse.core.resources.marker" />
    	<persistent value="false"/>
	</extension>
	<!-- Annotation specification:- describes what the annotation will look like and its properties -->
  	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
  		id="myannotationspecification">
     	<specification
        	annotationType="br.ufs.smelldetector.myannotation"
        	icon="icons/find.png"
        	overviewRulerPreferenceKey="markerOverview"
        	overviewRulerPreferenceValue="true"
        	colorPreferenceKey="markerColor"
        	colorPreferenceValue="153,255,153"
        	textPreferenceKey="tarkerText"
        	textPreferenceValue="true"
        	verticalRulerPreferenceKey="myMarkerIndicationInVerticalRuler"
        	verticalRulerPreferenceValue="true"
        	textStylePreferenceKey="textStyle"
        	textStylePreferenceValue="BOX"
        	
        	contributesToHeader="false"
        	highlightPreferenceKey="markerHighlight"
        	highlightPreferenceValue="true"
        	includeOnPreferencePage="true"
        	presentationLayer="0"
        	symbolicIcon="warning"/>
  	</extension>
  	<!-- Links the annotation spec to the marker --> 
  	<extension point="org.eclipse.ui.editors.annotationTypes">
     	<type
     		markerSeverity="0"
        	super="org.eclipse.ui.workbench.texteditor.info"
        	name="br.ufs.smelldetector.myannotation"
        	markerType="br.ufs.smelldetector.mymarker"/>
  	</extension>
  	<!--define the decorator -->
	<extension point="org.eclipse.ui.decorators">
		<decorator
		    id="br.ufs.smelldetector.filedecorator"
		    label="MyMarker Decorator"
		    state="true"
		    quadrant = "BOTTOM_RIGHT"
		    class="br.ufs.smelldetector.marker.FileDecorator"
		    adaptable="true"
			lightweight="true">
			<enablement>
				<objectClass name="org.eclipse.core.resources.IResource"/>      
			</enablement>
		</decorator>
	</extension>
</plugin>
