<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="LongMenthodDetector"
            id="com.cleverton.longmethoddetector">
      </category>
      <view
            name="View Métodos Longos"
            icon="icons/sample.gif"
            category="com.cleverton.longmethoddetector"
            class="com.cleverton.longmethoddetector.views.MetodoLongoView"
            id="com.cleverton.longmethoddetector.views.MetodoLongoView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.cleverton.longmethoddetector.views.MetodoLongoView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.cleverton.longmethoddetector.preferences.ValorMetodoLongoPreferencePage"
            id="com.cleverton.longmethoddetector.preferences.ValorMetodoLongoPreferencePage"
            name="LongMethodDetector">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.cleverton.longmethoddetector.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <!-- Popup menu to add a menu to right click of a java file in the package explorer--> 	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="Clarity.objectContribution2"
	 		objectClass="org.eclipse.jdt.core.IOpenable">
         	<action
               label="Analisar Projeto"
               class="com.cleverton.longmethoddetector.popup.AdicionarAnaliseProjeto"
               menubarPath="additions"
               id="com.cleverton.longmethoddetector.popupMenu.adicionarProjeto">
         	</action>
		</objectContribution>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="Clarity.objectContribution2"
	 		objectClass="org.eclipse.jdt.core.IOpenable">
         	<action
               label="Remover Projeto"
               class="com.cleverton.longmethoddetector.popup.RemoverAnaliseProjeto"
               menubarPath="additions"
               id="com.cleverton.longmethoddetector.popupMenu.removerProjeto">
         	</action>
		</objectContribution>
	</extension>
</plugin>
